.grid-container {

    display: grid;
    background-color: lightblue;
    padding : 20px;
    text-align: center;
    grid-template-columns: repeat(3,1fr);
}

.item {
    padding : 10px;
    background-color: blue;
    border-width: 1px;
    border-style: solid;
    margin : 10px;
    min-width: 200px;
    min-height: 100px;
    color : white;
}